<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon-16x16.png' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap">

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const menuIcon = document.querySelector('.menu-toggle');
      const navigation = document.querySelector('.nav-right');
      const overlay = document.querySelector('.overlay');

      menuIcon.addEventListener('click', function () {
        // console.log("menuIcon click ", navigation.classList)
        navigation.classList.toggle('open');
        overlay.style.display = navigation.classList.contains('open') ? 'block' : 'none';
      });

      overlay.addEventListener('click', function () {
        navigation.classList.remove('open');
        overlay.style.display = 'none';
      });

      document.addEventListener('click', function (event) {
        const isClickInsideMenu = navigation.contains(event.target);

        // console.log("document click : isClickInsideMenu", isClickInsideMenu)

        const isClickInsideMenuIcon = menuIcon.contains(event.target);

        // console.log("document click : isClickInsideMenuIcon", isClickInsideMenuIcon)

        if (!isClickInsideMenu && !isClickInsideMenuIcon) {
          navigation.classList.remove('open');
          overlay.style.display = 'none';
        }
      });
    });

  </script>
</head>

<body>

  {% include header.html %}

  <div class="overlay"></div>

  <main>
    <section class="main-content">
      {{ content }}
    </section>
  </main>

  {% include footer.html %}
  <script>
    // function toggleMenu() {
    //   var menu = document.getElementById('nav-menu');
    //   menu.classList.toggle('show');
    // }

    window.onscroll = function () {
      var navbar = document.getElementById('navbar');
      if (window.scrollY > 50) {
        navbar.classList.add('scrolled');
      } else {
        navbar.classList.remove('scrolled');
      }
    };
  </script>
</body>

</html>